.app-navbar {
  background-color: #e99787;
}

.text-nav {
  color: #ffffff;
}

.btn-nav {
  margin: 3px;
  background-color: #eed8c9;
  text-decoration: none;
}

.btn-link-nav {
  text-decoration: none;
  color: black;
}

.nav-dropdown-user {
  margin-left: 20px;
  text-decoration: none;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
}

.nav-dropdown-item {
  background-color: #eed8c9;
  text-decoration: none;
  color: #eed8c9;
}

.nav-dropdown-item:hover {
  background-color: #eed8c9 !important;
}
